<% if (!blogs) { %>
    <p>No blogs found.</p>
<% } else { %>
    <% blogs.forEach(blog => {%>
        <div id="<%= blog.id %>" class="blogCard">
            <div class="blogCardText">
                <div class="blogHeaderContainer">
                    <a class="blogHeader" href="/blog/<%= blog.id %>">
                        <%= blog.title %>
                    </a>
                    <% if (blog.owner) { %>
                        <div>
                            <a class="blogHeader" href="/blog/post/<%= blog.id %>">
                                <% if (blog.posted === "Not posted") { %>
                                    Post
                                <% } else { %>
                                    Remove post
                                <% } %>
                            </a>
                            <a class="blogHeader" href="/blog/edit/<%= blog.id %>" style="margin: 0 0 0 10px;">
                                Edit
                            </a>
                        </div>
                    <% } %>
                </div>
                <h1 class="author">Author: <%= blog.author %></h1>
                <h2 class="posted">
                    <img class="postedImg" src="/assets/img/clock.png" alt=""> Posted: <%= blog.posted %>
                </h2>
                <p class="blogPreview">
                    <%= blog.preview %>
                </p>
            </div>
            <div class="tags">
                <% if (blog.tags) { %>
                    <% blog.tags.forEach(tag => { %>
                        <button class="tags"><%= tag %></button>
                    <% }) %>
                <% }%>
            </div>
        </div>
    <% }) %>
    <script>
        async function post(id) {
            await fetch("/blog/post/" + id, {
                method: 'POST'
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
            })
            .catch(error => {
                console.error('There was a problem with your fetch operation:', error);
            });
        }
    </script>
<% } %>        