<% if (!blogData) {%>
    <p>No blog found.</p>
<% } else {%>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= blogData.title %></title>
        <link rel="stylesheet" href="/style/style.css">
        <link rel="stylesheet" href="/style/blog.css">
    </head>
    <body>
        <%- include("header.ejs") %>
        <div id="blog">
            <div class="header" style="display: grid;">
                <label for="title">Blog title: </label>
                <input type="text" name="title" id="title" style="width: 50%; height: 70%; font-size: 4rem; justify-self: center;" value="<%= blogData.title %>">
                <div id="previewMessage" style="display: none; position: absolute; background-color: rgb(40, 40, 40); padding: 10px; border: 1px solid #ccc; border-radius: 5px; max-height: 100px; font-size: medium;">This is for the text that will be shown on the blog card in the blog list so that users can preview the content in your blog</div>
                <label for="preview" style="display: flex; align-items: center; justify-content: center; font-size: x-large;">Preview: <img id="questionImg" src="/assets/img/questionmark.png" alt="" style="width: 20px; height: 20px;" onmouseenter="document.getElementById('previewMessage').style.display = 'block'" onmouseleave="document.getElementById('previewMessage').style.display = 'none'"></label>
                <textarea id="preview" class="preview" name="preview" placeholder="Some text.." style="resize: none; width: 50%; overflow: hidden; justify-self: center;"><%= blogData.preview %></textarea> 
                <label for="tags" style="font-size: x-large;">Tags</label>
                <div name="tags">
                    <label for="cars" style="font-size: large;">Cars: </label>
                    <input type="checkbox" id="cars" name="cars" <% if (blogData.tags.includes("cars")) { %> checked <% } %>>
                    <label for="family" style="font-size: large;">Family: </label>
                    <input type="checkbox" id="family" name="family" <% if (blogData.tags.includes("family")) { %> checked <% } %>>
                    <label for="money" style="font-size: large;">Money: </label>
                    <input type="checkbox" id="money" name="money" <% if (blogData.tags.includes("money")) { %> checked <% } %>>
                    <label for="computers" style="font-size: large;">Computers: </label>
                    <input type="checkbox" id="computers" name="computers" <% if (blogData.tags.includes("computers")) { %> checked <% } %>>
                </div>
            </div>
    
            <button onclick="newCard()" style="display: flex; width: 100%; height: 30px; font-size: large; justify-content: center; margin-top: 20px;">New post</button>
    
            <div id="cardList" class="row">
                <% if (blogData.blogList) {%>
                    <% for(var i = 0; i < blogData.blogList.length; i++) { %>
                        <% const blog = blogData.blogList[i]; %>
                        <div class="card" id="card_<%= i %>">
                            <button onclick="deleteCard(this)" style="display: flex; position: absolute; align-self: flex-end; width: 80px; font-size: x-large; color: red;justify-content: center;" >Delete</button>
                            <input type="text" class="input" placeholder="Your title.." style="font-size: x-large; width: calc(100% - 90px);" value="<%= blog.title %>">
                            <h5 class="date"><%= blog.date %></h5>
                            <div id="images_<%= i %>" class="images">
                                <% var j = 0; for(j; j < blog.images.length; j++) { %>
                                    <div class="imgHolder">
                                        <input type="file" id="images_<%= i %>_imageInput_<%= j %>" name="image" accept="image/*" onchange="previewImage('images_<%= i %>_imageInput_<%= j %>', 'images_<%= i %>_imagePreview_<%= j %>')">
                                        <button style="color: red;" onclick="deleteImage('images_<%= i %>_imagePreview_<%= j %>')" >Remove</button>
                                        <div id="images_<%= i %>_imagePreview_<%= j %>" class="img">
                                            <img style="max-width: 100%;" src="<%= blog.images[j].src %>" alt="">
                                        </div>
                                    </div>
                                <% } %>
                                
                                <% if (blog.images.length < 5) { %>
                                    <div class="imgHolder">
                                        <input type="file" id="images_<%= i %>_imageInput_<%= j %>" name="image" accept="image/*" onchange="previewImage('images_<%= i %>_imageInput_<%= j %>', 'images_<%= i %>_imagePreview_<%= j %>')">
                                        <div id="images_<%= i %>_imagePreview_<%= j %>" class="img"></div>
                                    </div>
                                <% } %>
                            </div>
                            <h4>Your Text:</h4>
                            <textarea id="content_<%= i %>" class="content" name="content" placeholder="Some text.." style="resize: none; width: 100%; overflow: hidden;"><%= blog.content %></textarea> 
                        </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    <script>

        async function postData(url, data) {
            return await fetch(url, {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .catch(error => {
                console.error('There was a problem with your fetch operation:', error);
            });
        }

        async function save() {
            const title = document.getElementById("title").value;
            const preview = document.getElementById("preview").value;
            const cardListChilds = document.getElementById("cardList").children;
            const blogList = Array.from(cardListChilds).map((child) => {
                const title = child.querySelector(".input").value;
                const date = child.querySelector(".date").textContent;
                const images = Array.from(child.querySelectorAll(".images")).map((imgContainer) => {
                    const imgSources = Array.from(imgContainer.querySelectorAll(".img")).map((imgElement) => {
                        if (imgElement.childNodes.length > 0) {
                            return imgElement.firstElementChild.src;
                        }
                        return "";
                    });

                    return imgSources.filter(src => src).map(src => ({ src: src }));
                });

                const content = child.querySelector(".content").value;

                return {
                    title: title,
                    date: date,
                    images: images.flat(),
                    content: content
                };
            });
            const tags = [
                document.getElementById("cars").checked ? "cars" : null,
                document.getElementById("family").checked ? "family" : null,
                document.getElementById("money").checked ? "money" : null,
                document.getElementById("computers").checked ? "computers" : null
            ].filter(tag => tag !== null);

            const data = {
                title: title,
                preview: preview,
                tags: tags,
                blogList: blogList,
            }

            await postData("/blog/edit/<%= blogData.id %>", data)
                .then(response => {
                    console.log('Success:', response);
                    window.location.href = "/home";
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        function newCard() {
            const existingCards = document.getElementById("cardList").children;

            let highestCardId = 0;
            for (const card of existingCards) {
                const cardId = parseInt(card.id.split("_").pop());
                if (cardId > highestCardId) {
                    highestCardId = cardId;
                }
            }
            const nextCardId = highestCardId + 1;

            const cardContainer = document.createElement("div");
            cardContainer.classList.add("card");
            cardContainer.id = "card_" + nextCardId;

            const deleteButton = document.createElement("button");
            deleteButton.textContent = "Delete";
            deleteButton.style.display = "flex";
            deleteButton.style.position = "absolute";
            deleteButton.style.alignSelf = "flex-end";
            deleteButton.style.width = "80px";
            deleteButton.style.fontSize = "x-large";
            deleteButton.style.color = "red";
            deleteButton.style.justifyContent = "center";
            deleteButton.onclick = function() {
                cardContainer.remove();
            };

            const titleInput = document.createElement("input");
            titleInput.type = "text";
            titleInput.placeholder = "Your title..";
            titleInput.style.fontSize = "x-large";
            titleInput.style.width = "calc(100% - 90px)";
            titleInput.classList.add("input");

            const dateElement = document.createElement("h5");
            dateElement.textContent = new Date().toISOString().slice(0,10);
            dateElement.classList.add("date");

            const imagesContainer = document.createElement("div");
            imagesContainer.classList.add("images");
            imagesContainer.id = "images_" +nextCardId

            const imageInput = document.createElement("input");
            imageInput.type = "file";
            imageInput.id = `images_${nextCardId}_imageInput_1`;
            imageInput.name = "image";
            imageInput.accept = "image/*";
            imageInput.onchange = function() {
                previewImage(`images_${nextCardId}_imageInput_1`, `images_${nextCardId}_imagePreview_1`);
            };
            
            const imgHolder = document.createElement("div");
            imgHolder.classList.add("imgHolder");
            imgHolder.appendChild(imageInput);

            const imagePreview = document.createElement("div");
            imagePreview.id = `images_${nextCardId}_imagePreview_1`;
            imagePreview.classList.add("img");
            imgHolder.appendChild(imagePreview);

            imagesContainer.appendChild(imgHolder);

            const contentLabel = document.createElement("h4");
            contentLabel.textContent = "Your Text:"

            const contentTextarea = document.createElement("textarea");
            contentTextarea.id = `content_${nextCardId}`;
            contentTextarea.name = "content";
            contentTextarea.placeholder = "Some text..";
            contentTextarea.style.resize = "none";
            contentTextarea.style.width = "100%";
            contentTextarea.style.overflow = "hidden";
            contentTextarea.classList.add("content");
            contentTextarea.addEventListener("input", function() {
                this.style.height = "auto";
                this.style.height = (this.scrollHeight + 2) + "px";
            });

            cardContainer.appendChild(deleteButton);
            cardContainer.appendChild(titleInput);
            cardContainer.appendChild(dateElement);
            cardContainer.appendChild(imagesContainer);
            cardContainer.appendChild(contentLabel);
            cardContainer.appendChild(contentTextarea);

            const firstCard = document.getElementById("cardList").firstElementChild;
            document.getElementById("cardList").insertBefore(cardContainer, firstCard);
        }


        function deleteCard(button) {
            var cardDiv = button.parentElement;
            cardDiv.remove();
        }

        function deleteImage(previewId) {
            const imgHolder = document.getElementById(previewId).parentElement;
            const imagesContainer = imgHolder.parentElement;
            const allImgHolders = imagesContainer.querySelectorAll('.imgHolder');
            const indexToDelete = Array.from(allImgHolders).findIndex(holder => holder === imgHolder);

            imgHolder.querySelector("img").remove();

            if (allImgHolders.length !== 5) {
                for (var i = parseInt(previewId.split("_")[3]); i < allImgHolders.length - 2; i++) {
                    allImgHolders[i].children[2].appendChild(allImgHolders[i + 1].querySelector("img"));
                }
                allImgHolders[allImgHolders.length - 1].remove();
                allImgHolders[allImgHolders.length - 2].remove();
            } else {
                if (allImgHolders[4].querySelector("img")) {
                    for (var i = parseInt(previewId.split("_")[3]); i < allImgHolders.length - 1; i++) {
                        allImgHolders[i].children[2].appendChild(allImgHolders[i + 1].querySelector("img"));
                    }
                    allImgHolders[allImgHolders.length - 1].remove();
                }
                else {
                    if (indexToDelete === 4) {
                        allImgHolders[allImgHolders.length - 1].remove();
                    }
                    else {
                        for (var i = parseInt(previewId.split("_")[3]); i < allImgHolders.length - 2; i++) {
                            allImgHolders[i].children[2].appendChild(allImgHolders[i + 1].querySelector("img"));
                        }
                        allImgHolders[allImgHolders.length - 1].remove();
                        allImgHolders[allImgHolders.length - 2].remove();
                    }
                }
            }

            const inputId = imagesContainer.id + "_imageInput_0";
            const baseInputId = inputId.split("").slice(0, -1).join("");
            const nextInputId = baseInputId + (allImgHolders.length - 2);

            const nextInput = document.createElement("input");
            nextInput.type = "file";
            nextInput.id = nextInputId;
            nextInput.name = "image";
            nextInput.accept = "image/*";
            nextInput.onchange = function() {
                previewImage(nextInputId, nextInputId.replace("imageInput", "imagePreview"));
            };

            const newImgHolder = document.createElement("div");
            newImgHolder.classList.add("imgHolder");
            newImgHolder.appendChild(nextInput);

            const imagePreview = document.createElement("div");
            imagePreview.id = nextInputId.replace("imageInput", "imagePreview");
            imagePreview.classList.add("img");
            newImgHolder.appendChild(imagePreview);

            imagesContainer.appendChild(newImgHolder);
        }


        function previewImage(inputId, previewId) {
            const preview = document.getElementById(previewId);
            const fileInput = document.getElementById(inputId);
            const file = fileInput.files[0];
            const reader = new FileReader();
            
            const baseInputId = inputId.split("").slice(0, -1).join("");
            const NextInputIdNumber = parseInt(inputId.slice(-1)) + 1;

            reader.onload = function(e) {
                const img = document.createElement("img");
                img.src = e.target.result;
                img.alt = "";
                img.style.maxWidth = "100%";
                preview.innerHTML = "";
                preview.appendChild(img);

                const removeBtn = document.createElement("button");
                removeBtn.style.color = "red";
                removeBtn.onclick = function() {
                    deleteImage(preview.id);
                };
                removeBtn.textContent = "Remove"
                preview.parentElement.insertBefore(removeBtn, preview);
            };

            reader.readAsDataURL(file);

            if (NextInputIdNumber < 5) {
                const nextInputId = baseInputId + NextInputIdNumber;
                if (!document.getElementById(nextInputId)) {
                    const nextInput = document.createElement("input");
                    nextInput.type = "file";
                    nextInput.id = nextInputId;
                    nextInput.name = "image";
                    nextInput.accept = "image/*";
                    nextInput.onchange = function() {
                        previewImage(nextInputId, nextInputId.replace("imageInput", "imagePreview"));
                    };
                    const imgHolder = document.createElement("div");
                    imgHolder.classList.add("imgHolder");
                    imgHolder.appendChild(nextInput);
                    const imagePreview = document.createElement("div");
                    imagePreview.id = nextInputId.replace("imageInput", "imagePreview");
                    imagePreview.classList.add("img");
                    imgHolder.appendChild(imagePreview);
                    const imagesContainerId = inputId.split("_")[0] + "_" + inputId.split("_")[1];
                    const imagesContainer = document.getElementById(imagesContainerId)
                    imagesContainer.appendChild(imgHolder);
                }
            }
        }

        document.querySelectorAll("textarea").forEach(textarea => {
            textarea.style.height = (textarea.scrollHeight + 2) + "px";
            textarea.addEventListener("input", function() {
                this.style.height = "auto";
                this.style.height = (this.scrollHeight + 2) + "px";
            });
        });

        const questionImg = document.getElementById('questionImg');
        const previewMessage = document.getElementById('previewMessage');

        questionImg.addEventListener('mouseover', () => {
            previewMessage.style.display = 'block';
        });

        questionImg.addEventListener('mouseout', () => {
            previewMessage.style.display = 'none';
        });
    </script>
    </body>
    </html>
<% } %>