<% if(!blogData) { %>
    <p>No blog found.</p>
<% } else { %>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= blogData.title %></title>
        <link rel="stylesheet" href="/style/style.css">
        <link rel="stylesheet" href="/style/blog.css">
    </head>
    <body>

    <%- include("header.ejs") %>
    <div id="blog">
        <div class="header">
            <h3><%= blogData.title %></h3>
            <h6>Author: <%= blogData.author %></h6>
            <h6><%= blogData.posted %></h6>
        </div>
    
        <div class="row">
            <% if (blogData.blogList) {%>
                <% for (var i = 0; i < blogData.blogList.length; i++) { %>
                    <% const blog = blogData.blogList[i]; %>
                    <div class="card">
                        <h1><%= blog.title %></h1>
                        <h5><%= blog.date %></h5>
                        <div class="images">
                            <% for(var j = 0; j < blog.images.length; j++) { %>
                                <div class="imgHolder">
                                    <img style="max-width: 100%;" src="<%= blog.images[j].src %>" alt="">
                                </div>
                            <% } %>
                        </div>
                        <p><%= blog.content %></p>
                    </div>
                <% } %>
            <% } %>
        </div>
        <%- include("comments.ejs") %>
    </div>
    </body>
    </html>
<% } %>