<% if (blogs && blogs.length > 0) { %>
    <%- blogs.forEach(blog => {%>
        <div id="<%= blog.id %>" class="blogCard">
            <div class="blogCardText">
                <a class="blogHeader" href="/blog/<%= blog.id %>">
                    <%= blog.title %>
                </a>
                <h1 class="author">Author: <%= blog.author %></h1>
                <h2 class="posted">
                    <img class="postedImg" src="/assets/img/clock.png" alt="">Posted <%= blog.posted %>
                </h2>
                <p class="blogPreview">
                    <%= blog.content %>
                </p>
            </div>
            <div class="tags">
                <% if (blog.tags && blog.tags.length > 0) { %>
                    <%- blog.tags.forEach(tag => { %>
                        <button class="tags"><%= tag %></button>
                    <% }) %>
                <% }%>
            </div>
        </div>
    <% }) %>
<% } else { %>
    <p>No blogs found.</p>
<% } %>
